<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">


        <h1 class="title">Top Scorer</h1>
        <br>
    <form action="/" id="form" class="form" method="POST">
        <select name="Competition" class="form-select">
          <option value="PL" data-display="Select">Competition</option>
          <option value="PL">Premier League</option>
          <option value="PD">La Liga</option>
          <option value="SA">Serie A</option>
          
        </select>
        <select name="Season" class="form-select">
          <option value="2023">Season</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          
        </select>
        <button type="submit" class="form-submit">Go</button>
    </form>





    
    
</div>
<div class="top_scorer">
    <% if(locals.name || locals.matches || locals.goals){ %>
        <h1 class="scorer_name">
            <%= name %>
            
        </h1>

        <h2 class="sub">Matches : </h2><h3><%= matches %></h3><br>

        <h2 class="sub" >Goals : </h2><h3><%= goals %></h3>
        

    
   <% }%>
</div>
    
</body>
</html>